.title {
    text-align: center;
}

table, th, td{
    border: 1px #000 solid;
    border-collapse: collapse;
    text-align: center;
}

td {
    width: calc(100vw/7);
}

.calender th:first-of-type,  .calender td:first-of-type {
    background-color: tomato;
}
.calender th:last-of-type, .calender td:last-of-type {
    background-color: #219DDD;
}